[admin]
admin_list = user@mail.com

[trusted]
; trusted_list = user@trusted.com

;[ai]
;api_key = get-your-own-api-key
;model   = gpt-3.5-turbo

;[memory]
;base_url = https://memory.therpgserver.co.uk
;username = user@mail.com
;password = password
